#ajax_cart_loading {
    width: 200px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    background: #f1f1f1 url('../images/loading.gif') no-repeat center;
    text-align: center;
    opacity: 0.8;
    filter: alpha(opacity=80);
    box-shadow: 5px 5px 5px #888888;
    z-index: 10000;
}

#ajaxcart_content_option_product {
    position: fixed;
    left: 50%;
    top: 30%;
    width: 300px;
    margin-left: -150px;
    margin-top: -100px;
    min-height: 100px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px #888888;
    overflow-y: auto!important;
    max-height: 480px;
    z-index: 9999;
}

@media (max-width: 480px) and (orientation:landscape) {
    #ajaxcart_content_option_product {
        overflow-y: auto!important;
        max-height: 300px;
    }
}

#plus_one {
    width: 256px;
    height: 256px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -128px;
    margin-left: -128px;
    background: url('../images/cart.png') no-repeat center;
}

.ajaxcart-product-image {
    display: inline;
    margin: 5px;
}

.ajaxcart-buttons button {
    margin: 5px;
}