<?php
$collection = $this->getItems();
?>
<div id="table_id">
    <table width="80%" border="1px" style="text-align:center">
        <?php
        foreach($collection as $item)
        {
            {
                ?>
                <tr>
                    <td>Name</td>
                    <td>Testimonial</td>
                    <td>Status</td>
                    <td>Created At</td>
                    <td>Modified At</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <?php echo $item->getName(); ?>
                    </td>
                    <td>
                        <?php echo $item->getTestimonial(); ?>
                    </td>
                    <td>
                        <?php echo $item->getStatus(); ?>
                    </td>
                    <td>
                        <?php echo $item->getCreated(); ?>
                    </td>
                    <td>
                        <?php echo $item->getModified(); ?>
                    </td>
                    <td>
                        <a href="<?php echo $this->getBaseUrl().'m1grid/index/deletedata?id='.$item->getid() ?>">
                            <?php echo $this->__('DELETE'); ?></a>
                    </td>
                    <td>
                        <a href="<?php echo $this->getBaseUrl().'m1grid/index/editData?id='.$item->getid() ?>">
                            <?php echo $this->__('EDIT'); ?></a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>
    </table>
</div>